<p-growl [(value)]="msgsUser"></p-growl>

<modal #userCreate [keyboard]="false" [backdrop]="'static'">
    <div class="panel panel-primary no-margin-bottom">
        <div class="panel-heading">
            <div class="panel-title">Nuevo usuario</div>
        </div>
        <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Rut</span>
                    <input pInputText class="form-control" (keypress)="onlyNumbers($event)" style="text-align: right;" maxlength="9" placeholder="123456789" [(ngModel)]="userSelected.uid">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding-right">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Nombres</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="nombres" [(ngModel)]="userSelected.nombre">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Ap. Paterno</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="paterno" [(ngModel)]="userSelected.apellidoP">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-right">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Ap. Materno</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="materno" [(ngModel)]="userSelected.apellidoM">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Correo</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="correo@mail.com" [(ngModel)]="userSelected.correo">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
                <p-checkbox [(ngModel)]="userSelected.admin_boolean" (onChange)="changeSuperAdmin(userSelected);" binary="true" label="Super administrador"></p-checkbox>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top no-padding">
                <p-dataTable [value]="userSelected.roles" class="small">
                    <p-header>Roles</p-header>
                    <p-column field="nombre_aplicacion" header="Aplicación"></p-column>
                    <p-column [style]="{'text-align':'center'}" header="Rol">
                        <ng-template let-role="rowData" pTemplate="body">
                            <p-dropdown [options]="role.comboRol" [(ngModel)]="role.rol_id" [autoWidth]="false" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="button" pButton icon="fa-undo" class="ui-button-primary" (click)="closeUserCreateModal()" label="Volver"></button>
            <button type="button" pButton icon="fa-check" class="ui-button-success" (click)="creaUsuario(userSelected)" label="Guardar"></button>
        </div>
    </div>
</modal>

<modal #userEdit [keyboard]="false" [backdrop]="'static'">
    <div class="panel panel-primary no-margin-bottom">
        <div class="panel-heading">
            <div class="panel-title">Información del usuario</div>
        </div>
        <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Rut</span>
                    <input pInputText class="form-control" (keypress)="onlyNumbers($event)" style="text-align: right;" maxlength="9" placeholder="123456789"
                        [(ngModel)]="userSelected.uid" [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding-right">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Nombres</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="nombres" [(ngModel)]="userSelected.nombre"
                        [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Ap. Paterno</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="paterno" [(ngModel)]="userSelected.apellidoP"
                        [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-right">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Ap. Materno</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="materno" [(ngModel)]="userSelected.apellidoM"
                        [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="input-group margin-bottom">
                    <span class="input-group-addon">Correo</span>
                    <input pInputText class="form-control" style="text-align: right;" placeholder="correo@mail.com" [(ngModel)]="userSelected.correo"
                        [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding text-center">
                <p-checkbox [(ngModel)]="userSelected.admin_boolean" (onChange)="changeSuperAdmin(userSelected);" binary="true" label="Super administrador"
                    [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1"></p-checkbox>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-right text-center">
                <p-checkbox [(ngModel)]="userSelected.estado_boolean" (onChange)="changeEstado(userSelected);" binary="true" label="Activo"
                    [disabled]="(userSelected.uid != userOnline.uid) && userSelected.admin == 1"></p-checkbox>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top no-padding">
                <p-dataTable [value]="userSelected.roles" class="small">
                    <p-header>Roles</p-header>
                    <p-column field="nombre_aplicacion" header="Aplicación"></p-column>
                    <p-column [style]="{'text-align':'center'}" header="Rol">
                        <ng-template let-role="rowData" pTemplate="body">
                            <span *ngIf="(userSelected.uid != userOnline.uid) && userSelected.admin == 1">{{role.nombre_rol}}</span>
                            <p-dropdown [options]="role.comboRol" [(ngModel)]="role.rol_id" [autoWidth]="false" [style]="{'width':'100%'}" appendTo="body"
                                *ngIf="!((userSelected.uid != userOnline.uid) && userSelected.admin == 1)"></p-dropdown>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="button" pButton icon="fa-undo" class="ui-button-primary" (click)="closeUserEditModal()" label="Volver"></button>
            <button type="button" pButton icon="fa-check" class="ui-button-success" (click)="editaUsuario(userSelected)" label="Guardar"
                *ngIf="!((userSelected.uid != userOnline.uid) && userSelected.admin == 1)"></button>
        </div>
    </div>
</modal>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #usuariosTabla type="text" pInputText size="50">
    <button type="button" (click)="onUserCreateModal();" pButton icon="fa-plus" style="float:right" label="Agregar"></button>
</div>
<p-dataTable [value]="usuarios" [globalFilter]="usuariosTabla" class="small">
    <p-column [style]="{'width':'8%'}" field="rut" header="Rut"></p-column>
    <p-column field="nombre" header="Nombres"></p-column>
    <p-column field="apellidoP" header="Ap. Paterno"></p-column>
    <p-column field="apellidoM" header="Ap. Materno"></p-column>
    <p-column field="correo" header="Email"></p-column>
    <p-column [style]="{'width':'8%','text-align':'center'}" header="Super Administrador">
        <ng-template let-user="rowData" pTemplate="body">
            <span class="{{user.admin == 1 ? 'text-verde strong' : ''}}">{{user.admin == 1 ? 'SI' : user.admin == 0 ? 'NO' : ''}}</span>
        </ng-template>
    </p-column>
    <p-column [style]="{'width':'6%','text-align':'center'}" header="Estado">
        <ng-template let-user="rowData" pTemplate="body">
            <span class="{{user.estado == 1 ? 'text-verde' : user.estado == 0 ? 'text-rojo' : ''}}"><strong>{{user.estado_glosa}}</strong></span>
        </ng-template>
    </p-column>
    <p-column [style]="{'width':'6%','text-align':'center'}" header="Ver/Editar">
        <ng-template let-user="rowData" pTemplate="body">
            <button type="button" (click)="onUserEditModal(user);" pButton icon="fa-pencil"></button>
        </ng-template>
    </p-column>
    <p-footer>Hay {{usuarios.length}} usuarios</p-footer>
</p-dataTable>