<div class="panel panel-primary">
    <div class="panel-body text-center" style="padding-top:2%;">
        <img alt="error_db" height="65" src="./assets/img/error.png" />
        <h3 style="color:red;">Error en el sistema</h3>
        <br/>
        <span class="textErrorMantencion">Estimado(a) Usuario(a)</span><br/><br/>
        <span class="textErrorMantencion">Se ha originado el siguiente error en el sistema:</span><br/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="margin-top textErrorMantencion">
                <div class="col-lg-2 col-md-2 hidden-xs hidden-sm"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <table class="tableError" style="width: 100%;border-radius: 5px;">
                        <tr>
                            <td class="headerTableError">Descripción</td>
                        </tr>
                        <tr>
                            <td>{{errorView}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-2 col-md-2 hidden-xs hidden-sm"></div>
                <div class="ui-lg-12 ui-md-12 ui-sm-12 ui-g-12 margin-top margin-bottom">
                    <span class="textErrorMantencion">Para mayor información, escribanos a <a href="devsolvers.chile@gmail.com">devsolvers.chile@gmail.com</a>.</span>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/><br/>
        <p class="text-muted">
            {{appName}}
            <br/> Versión {{appVersion}}
            <br/> Chile - {{appYear}}
        </p>
    </div>
</div>