<div class="panel panel-primary">
    <div class="panel-body text-center" style="padding-top:2%;">
        <img alt="error_db" height="65" src="./assets/img/mantencion.png" />
        <h3 class="text-primary">Sistema en mantención</h3>
        <br/>
        <span class="textErrorMantencion">Estimado(a) Usuario</span><br/><br/>
        <span class="textErrorMantencion">El sistema al que intenta acceder se encuentra actualmente en mantenimiento.</span><br/>
        <span class="textErrorMantencion">Para mayor información, escribanos a <a href="devsolvers.chile@gmail.com">devsolvers.chile@gmail.com</a>.</span>
        <br/><br/><br/><br/><br/>
        <p class="text-muted">
            {{appName}}
            <br/> Versión {{appVersion}}
            <br/> Chile - {{appYear}}
        </p>
    </div>
</div>