<div class="panel panel-primary">
    <div class="panel-body text-center" style="padding-top:2%;">
        <img alt="error_db" height="65" src="./assets/img/database.png" />
        <h3 style="color:red;">Error de conexión<br>a bases de datos</h3>
        <br/>
        <span class="textErrorMantencion">Estimado(a) <span style="padding-left: 10px;">Usuario(a)</span></span><br/><br/>
        <span class="textErrorMantencion">Ha ocurrido una error al conectarse a las bases de datos.</span><br/>
        <span class="textErrorMantencion">Para mayor información, escribanos a <a href="devsolvers.chile@gmail.com">devsolvers.chile@gmail.com</a>.</span>
        <br/><br/><br/><br/><br/>
        <p class="text-muted">
            {{appName}}
            <br/> Versión {{appVersion}}
            <br/> Chile - {{appYear}}
        </p>
    </div>
</div>