<ng-container *ngFor="let menu of menusApp">
    <ng-container *ngIf="menu.moduloActivo != 0 && menu.metodo != 'home' ">
        <a (click)="onNavigate(menu);" style="cursor:pointer;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center buttonMenuHome {{menu.metodo == 'mantencion' ? 'btn-mantencion' : ''}}"
                style="padding: 20px;">
                <img alt="Universidad de Valparaíso" src="./assets/img/menuButton/{{menu.metodo == 'mantencion' ? 'mantencion' : menu.icono}}.png"
                />
                <br/><br/><span class="nombreMenu small">{{menu.nombre}}</span><br/>
                <ng-container *ngIf="menu.estado == '2'">
                    <span style="color:#B00023;" class="text-center small">EN MANTENCIÓN</span>
                </ng-container>
                <ng-container *ngIf="menu.estado != '2'">
                    <span class="text-muted small">{{menu.descripcion}}</span>
                </ng-container>
            </div>
        </a>
    </ng-container>
</ng-container>