<div class="col-md-12 col-lg-12 hidden-sm hidden-xs no-margin no-padding">
    <nav class="navbar navbar-default navbar-static-top no-margin-bottom">
        <div class="container-fluid container-fluid-header small">
            <div class="col-md-3 col-lg-3 hidden-sm hidden-xs">
                <a href="http://uv.cl/" pTooltip="Ir a uv.cl"><img alt="Universidad de Valparaíso" height="55" src="./assets/img/logoUV2017.png" style="margin:8px 0px 8px 0px;" /></a>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12" style="margin-top:8px;">
                <div class="text-center">
                    <span class="title-style fuente">{{appName}}</span><br/>
                    <span class="subtitle-style fuente">{{appAuthor}}</span>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 hidden-sm hidden-xs menu-z-index">
                <a href="http://bibliotecas.uv.cl/" target="_blank" pTooltip="Ir a bibliotecas.uv.cl" tooltipPosition="bottom" class="margin-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only botonSuperior"
                    style="float: right;margin-top: 20px;color:#005691 !important;">
                    <span class="ui-button-text ui-c"><i class="fa fa-globe"></i> Bibliotecas</span>
                </a>
                <a href="http://uv.cl/" target="_blank" pTooltip="Ir a uv.cl" tooltipPosition="bottom" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only botonSuperior"
                    style="float: right;margin-top: 20px;color:#005691 !important;">
                    <span class="ui-button-text ui-c"><i class="fa fa-globe"></i> uv.cl</span>
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="hidden-md hidden-lg col-sm-12 col-x-12 no-margin no-padding">
    <nav class="navbar navbar-default navbar-static-top no-margin-bottom">
        <div class="col-xs-12 col-sm-12">
            <div class="text-center">
                <span class="subtitle-style fuente">{{appName}}</span><br/>
                <span class="subtitle-style fuente">{{appAuthor}}</span>
            </div>
        </div>
    </nav>
</div>