<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="footer">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 boxFooter">
        <div class="fuente">
            {{appName}} - {{appVersion}}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 hidden-xs hidden-sm fuente">
        <!--<br/>Compatible con:
        <i class="fa fa-chrome fa-2x padding-left padding-right linkHover" pTooltip="Google Chrome" tooltipPosition="top"></i>
        <i class="fa fa-firefox fa-2x padding-right linkHover" pTooltip="Mozilla Firefox" tooltipPosition="top"></i>
        <i class="fa fa-opera fa-2x padding-right linkHover" pTooltip="Opera" tooltipPosition="top"></i>
        <i class="fa fa-safari fa-2x padding-right linkHover" pTooltip="Safari" tooltipPosition="top"></i>
        <i class="fa fa-edge fa-2x padding-right linkHover" pTooltip="Microsoft Edge" tooltipPosition="top"></i>
        <i class="fa fa-internet-explorer fa-2x linkHover" pTooltip="Internet Explorer" tooltipPosition="top"></i>-->
    </div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-right boxFooter">
        <div class="fuente">
            {{appAuthor}} - {{appSucursal}} :: {{appYear}}
        </div>
    </div>
</div>