<nav class="navbar navbar-default navbar-fixed-top no-margin-bottom navHeader">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a class="hidden-xs hidden-sm" href="http://centrolaser.cl/" pTooltip="Ir a centrolaser.cl" target="_blank"><img alt="Ceola S.A." id="logoUVheader" height="45" src="./assets/img/centroLaser-logo.png" /></a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center fuente">
        <span class="title-style">{{appName}}</span><br/>
        <ng-container *ngIf="showMenus">
            <ng-container *ngFor="let menu of menusApp">
                <a (click)="onNavigate(menu);" style="cursor:pointer;text-decoration:none;">
                <span class="menuHeader label {{menu.metodo == menuActive ? 'label-success' : 'label-default'}}">{{menu.nombre}}</span>
            </a>
            </ng-container>
        </ng-container>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 small">
        <ng-container *ngIf="showModulos">
            <ng-container *ngIf="appsCombo.length != 1">
                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10" style="padding-top:10px;">
                    <span class="fuente">Estas en:</span><br>
                    <p-dropdown (onChange)="goUrl($event);" [options]="appsCombo" id="comboModulosMovil" [(ngModel)]="codAppHere"></p-dropdown>
                </div>
            </ng-container>
        </ng-container>
    </div>
</nav>