<p-confirmDialog header="Cerrar sesión" icon="fa fa-question-circle" class="confirmaLogOut" acceptLabel="SI" [closable]="false"></p-confirmDialog>
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper-right" role="navigation">
    <ul class="nav sidebar-nav-right">
        <li class="text-center" id="tituloCuenta">
            Cuenta
        </li>
        <li>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-top:30px;">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <img src="{{user.foto}}" alt="foto_usuario" class="img-responsive img-circle img-profile" id="fotoUsuario" />
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center" id="datosPersonales">
                    <br/>
                    <span><strong>{{user.nombre}}</strong></span><br/>
                    <span><strong>{{user.rut}}</strong></span><br/>
                    <span><strong>{{rol}}</strong></span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center margin-top">
                    <a (click)="logOut()" title="Haz click para finalizar la sesión actual" class="margin-bottom ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-danger">
                        <span class="ui-button-text ui-c"><i class="fa fa-times"></i> Cerrar sesión</span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</nav>