<div class="panel panel-primary" style="margin: 1% 10% 2% 10%;">
    <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-times-circle"></i> Error</div>
    </div>
    <div class="panel-body text-center">
        <div class="hidden-sm hidden-xs">
            <br/>
            <i class="fa fa-exclamation-triangle fa-5x text-info"></i>
            <br/><br/>
        </div>
        <h2 style="color:red;">Error en el sistema</h2>
        <br/><br/>
        <span>Estimado(a) Usuario(a)</span><br/>
        <span>Se ha originado el siguiente error en el sistema:</span><br/>
        <div style="font-size: 16px !important;" class="margin-top">
            <div class="col-lg-2 col-md-2 hidden-xs hidden-sm"></div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <table class="tableError" style="width: 100%;">
                    <tr>
                        <td class="headerTableError">Descripción</td>
                    </tr>
                    <tr>
                        <td>{{errorView}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2 col-md-2 hidden-xs hidden-sm"></div>
            <div class="ui-lg-12 ui-md-12 ui-sm-12 ui-g-12 margin-top margin-bottom">
                <span>Favor escribanos a <a href="mailto:devsolvers.chile@gmail.com">devsolvers.chile@gmail.com</a> para notificar el error.</span>
            </div>
        </div>
        <div class="hidden-xs hidde-sm">
            <br/><br/><br/><br/><br/>
            <p class="text-muted">
                {{appName}}
                <br/> Versión {{appVersion}}
                <br/> Chile - {{appYear}}
            </p>
        </div>
        <br/>
    </div>
</div>