<div class="panel panel-primary" style="margin: 1% 10% 1% 10%;">
    <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-wrench"></i> Mantención</div>
    </div>
    <div class="panel-body text-center">
        <div class="hidden-sm hidden-xs">
            <br/>
            <i class="fa fa-cog fa-spin fa-huge text-info"></i>
            <br/><br/>
        </div>
        <h2 style="color:red;">Sistema en Mantención</h2>
        <br/><br/>
        <span>Estimado(a) Usuario</span><br/>
        <span>El sistema al que intenta acceder se encuentra actualmente en mantenimiento.</span><br/>
        <span>Para mayor información, escribanos a <a href="mailto:devsolvers.chile@gmail.com">devsolvers.chile@uv.com</a>.</span>
        <br/><br/><br/><br/><br/>
        <p class="text-muted">
            {{appName}}
            <br/> Versión {{appVersion}}
            <br/> Chile - {{appYear}}
        </p>
        <br/>
    </div>
</div>