/* You can add global styles to this file, and also import other style files */

body{background-color:#004A7C;}
body, html {
    height: 100%;
}
.fuente{color:#FAFAFA;}
.title-style{font-size: 25px;}
.subtitle-style{font-size: 16px;}
.container-fluid{min-width:800px}
.container-fluid-header{border:none;}
.container-fluid-left{padding-left:0;padding-top:15px;padding-bottom:15px}
.container-title-style{position:absolute;}
.container-fluid-content{background-color:#fff;padding-top:15px;border:none;}
.navbar-default{background-image: linear-gradient(to bottom,#004A7C 0,#004A7C 100%);}
.space-footer{margin-bottom:20px}
.space-footer-social,.space-menu-btn{padding-right:10px}
.linkHover:hover{
    color:#F0AD4E !important;
}
.menu-container{padding-top: 15px;}
.menu-z-index{z-index: 1;}

.img-profile{border-bottom:10px}

.ui-overlaypanel{top:45px !important;left:251px !important;}

.contacto-size .ui-overlaypanel{background-color: #F5F5F5 !important;}
.contacto-size .ui-overlaypanel-content{width: 30em; padding: 0px; }
.user-size .ui-overlaypanel-content{width: 30em;padding: 0px;}

.misApp .ui-overlaypanel{top:85px !important;}
.misApp .ui-overlaypanel-content{width: 30em;padding: 0px;}

.navbar {
    border: none;
}
.navbar-content-dropdown-comments{width:400px;padding-bottom:0;padding-top:15px}
.navbar-content-dropdown-apps{width:200px}
.navbar-content-dropdown-userAccount{width:380px;padding-bottom:0}
.row-navbar-content-dropdown-userAccount{background-color:#fff;padding-bottom:10px;border-bottom:1px solid #ccc}
.navbar-content-dropdown-comments .btn{margin-right:5px}
.navbar-content-apps{border-bottom:1px solid #ccc}
.navbar-content-dropdown-apps .navbar-content-apps-wrapper{padding:15px}
.navbar-content .alert{padding:5px 10px}
.navbar-content:before,.navbar-content:after{display:table;content:"";line-height:0}
.form-group-comments{margin:0!important;padding-bottom:15px}

.buttonHeader{min-width:70px;max-width:150px}

.menu-toolbar .dropdown-menu{left: -311px !important}
.row-navbar-content-dropdown-userAccount{background-color:#fff;padding-bottom:10px;border-bottom:1px solid #ccc}


.nav>li>a.menu-left, .subMenuTitle,.no-menu-left{padding:0px 5px}
.nav>li>a:hover,.nav>li>a:focus{background-color:#EC971E}
.nav>li>a.menu-left:hover, .subMenuTitle:hover,.no-menu-left:hover{background-color:#377AB4;cursor:pointer; color: #f5f5f5 !important;}
.nav>li>a.menu-left:focus,.nav>li>a.menu-left:active{background-color:#EC971E;outline:none}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#EC971E;border-color:#EC971E}
.nav>li>a:hover .img-icon,.nav>li>a:focus .img-icon{-moz-box-shadow:0 1px 5px #555;-webkit-box-shadow:0 1px 5px #555;box-shadow:0 1px 5px #555}
.nav-pills>li>a{border-radius:0}
.nav-pills>li{padding-left:4px}
.nav-pills>li.menu-active{border-left:4px solid #2d6ca2;padding-left:0;background-color: #ec971e;color: white !important}
.nav-list{padding-top:0;padding-left:10px}
.subMenu{padding-left: 10px;}
.menu-active{font-weight:normal}
.menu-active a{color: #fff !important}

.subMenuTitle,.no-menu-left{display: block;}

.padding-original{padding: 30px !important;}
.padding-top{padding-top:  15px !important;}
.padding-down{padding-bottom:  15px !important;}
.padding-left{padding-left:  15px !important;}
.padding-right{padding-right:  15px !important;}
.no-padding{padding: 0px}
.no-padding-bottom{padding-bottom: 0px !important}
.no-padding-top{padding-top: 0px !important}
.no-padding-left{padding-left: 0px !important}
.no-padding-right{padding-right: 0px !important}
.margin-bottom{margin-bottom: 15px !important}
.margin-top{margin-top: 15px !important}
.margin-top-double{margin-top: 30px !important}
.margin-left{margin-left: 15px !important}
.margin-right{margin-right: 15px !important}
.no-margin-bottom{margin-bottom: 0px !important}
.no-margin-top{margin-top: 0px !important}
.no-margin-left{margin-left: 0px !important}
.no-margin-right{margin-right: 0px !important}
.no-margin{margin: 0px !important}
.margin-left-doble{margin-left: 30px !important}
.margin-right-doble{margin-right: 30px !important}
.strong{font-weight: bold;}

.externalLinks{
    padding: 0.5% 0px 0.5% 0px;
    margin-top: 5%;
    background: rgba(255,255,255, 0.3)
}

.btn-xlarge{
    position: relative;
    vertical-align: center;
    /*margin: 20px;*/
    padding: 40px;
    font-size: 15px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: rgba(98, 177, 208, 0.75);
    border: 0;
    cursor: pointer;
    min-width: none;
    max-width: none;
    display: block;
    /*opacity: .75;*/
    box-shadow: none;
}

.btn-xlarge-pregrado{
    position: relative;
    vertical-align: center;
    /*margin: 20px;*/
    padding: 40px;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #7AC57A;
    border: 0;
    cursor: pointer;
    min-width: none;
    max-width: none;
    display: block;
}


.init{
    width: 100%;
    height: 100%;
    top: 15%;
    text-align: center;
    position: fixed;
}

.btn-xlarge-mantencion{
    background: rgba(160, 184, 193, 0.75) !important;
}

.btn-xlarge:active {
    top: 2px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-xlarge:hover {
    background: #45E1E8;
    color: #fff !important;
}

.fa-huge{
    font-size: 10em;
}

.itemAlumno{
    font-weight: bold;
    width: 45%;
}

.fotoAyuda{
    border: 5px solid #ddd;
    border-radius: 8px;
}

.tableError td{
    border: 1px solid #2d6ca2;
    padding: 8px;
}

.tableError .headerTableError{
    background-color:#B0D0EA;
}

.boxFooter{
    margin:8px 0px 8px 0px;
}

#footer{
    font-size:78%;background:rgba(70,130,180, 0.85);position: fixed;bottom: 0;left:0;
}

.mainBox{
    padding-left: 20px;
    padding-right:20px;
}
.buttonFooter{
    padding: 1% 15% 1% 15%;
}
.boxCertificado{
    padding: 0% 3% 0% 3%;
}
.detalleCertificado{
    padding-left: 10%;padding-right: 10%;
}
.bodyBox{
    margin: 0% 3% 0% 3%;
}
.bodyBoxSub{
    margin: 0% 4% 0% 4%;
}
.infoBox{
    padding: 0px 20% 0% 20%;
    margin-top: 3%;
}

.body-panelStyle{
   background-image: url("assets/img/places/centrolaser1.jpg"); 
  /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 1s ease-out;
}

.marginBotonera{
    margin-top: 4%;
}

.panel-importante-danger>.panel-heading{
    background-color: #F44336 !important;
    background-image: none !important;
    color: white !important;
    
}
.panel-importante-danger{
    border-color: #F44336 !important;
}

.panel-importante-success>.panel-heading{
    background-color: #5CB85C !important;
    background-image: none !important;
    color: white !important;
    
}
.panel-importante-success{
    border-color: #5CB85C !important;
}

.panel-importante-warning>.panel-heading{
    background-color: #F0AD4E !important;
    background-image: none !important;
    color: white !important;
    
}
.panel-importante-warning{
    border-color: #F0AD4E !important;
}

.avisoImportante{
    margin-bottom: 2%;
    padding: 0px 18% 0px 18%;
}

@media screen and (max-width: 480px) {
    .avisoImportante{
        padding: inherit;
    }

    .mainBox{
        padding-top: 5%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .buttonFooter, .boxCertificado{
        padding: 0px;
    }
    .estadoCertificado{
        padding: 0px 0px 0px 0px;
    }
    .detalleCertificado{
    padding: 0px 0px 0px 0px;
    }
    .bodyBox{
        margin: 0% 2% 0% 2%;
    }
    .botonMain{
        margin-top:3%;
    }
}


.botonSuperior{
    border: #E8F1F5 !important;
    background-color: #E8F1F5 !important;
    color: #003C92;
}

.botonSuperior:hover{
    border: #F0AD4E !important;
    background-color: #F0AD4E !important;
    color: #003C92;
}

@media screen and (max-width: 1366px) {
    .externalLinks{
        padding: 0.5% 0px 0.5% 0px;
        margin-top: 2%;
        background: rgba(255,255,255, 0.3)
    }
}

/***************************************************/

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background:rgba(70,130,180, 0.85);
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 8%;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.ui-dropdown{
    width: 100% !important;
}