<p-growl [(value)]="results"></p-growl>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #presSegs type="text" pInputText size="50">
</div>
<p-dataTable emptyMessage="No existen presupuestos en seguimiento" class="small" [value]="presupuestoSeguimientos" [globalFilter]="presSegs"
    [rows]="10" [paginator]="true" [pageLinks]="6">
    <p-header>Presupuestos en seguimiento</p-header>
    <p-column [style]="{'width':'80px'}" field="cod_prestacion" header="Código"></p-column>
    <p-column field="prestacion" header="Prestación"></p-column>
    <p-column [style]="{'width':'80px'}" field="fec_creacion" header="Creado el"></p-column>
    <p-column [style]="{'width':'80px'}" field="vencimiento" header="Expira el"></p-column>
    <p-column [style]="{'width':'80px'}" field="rut" header="Rut"></p-column>
    <p-column field="nombres" header="Nombre"></p-column>
    <p-column field="apellidos" header="Apellidos"></p-column>
    <p-column field="fono" [style]="{'width':'80px'}" header="Fono"></p-column>
    <p-column field="movil" [style]="{'width':'80px'}" header="Movil"></p-column>
    <p-column field="correo" header="Email"></p-column>
    <p-column [style]="{'width':'7%'}" header="Seguimiento" styleClass="text-center">
        <ng-template let-preseg="rowData" pTemplate="body">
            <button pButton (click)="buscaSeguimientos(preseg)" type="button" icon="fa-search" class="ui-button-primary"></button>
        </ng-template>
    </p-column>
    <p-footer>Hay <span style="color:red;font-weight: bold;">{{presupuestoSeguimientos.length}}</span> presupuesto(s) en seguimiento</p-footer>
</p-dataTable>